<!--******FOOTER BLOCK *******************************-->

<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <!--Grid with collapsibles as contents-->
    <!--Section 1-->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <i class="icon icon--primary collapsible__icon">
          <img src="images/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <!--Section 2-->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <i class="icon icon--primary collapsible__icon">
          <img src="images/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <!--Section 3-->
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <i class="icon icon--primary collapsible__icon">
          <img src="images/chevron.svg" alt="" />
        </i>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2022 Kras Gnik</p>
    </section>
  </div>
</footer>
