<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="../images/bey.jpeg" alt="A happy customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="../images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis alias
        omnis cum explicabo a aliquid odit sapiente quo maiores excepturi illum
        amet animi, architecto soluta labore ipsa veniam. Temporibus, ullam!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Bey Knowles</h3>
            <p class="quote__company">CEO, Bey-Hive</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
